streamlit
pandas
ydata-profiling
streamlit-pandas-profiling
ydata_profiling
dotenv
seaborn
st_pages
langchain
langchain_core
langchain_google_genai
langchain_community
git+https://github.com/tramphan748/llmx-gemini.git
